@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<VinylX.Models.Release>

@{
    ViewData["Title"] = "Releases";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h1>Releases</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<form action="releases">
    <input type="hidden" name="resetSearch" value="true"/>
    <input type="text" name="search"/>
    <input type="submit" value="Search"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MasterRelease.Artist.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterRelease.AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.DiscogReleaseId)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OnePageOfItems)
        {
        <tr>
            <td>
                @item.MasterRelease.Artist.ArtistName
            </td>
            <td>
                @item.MasterRelease.AlbumName
            </td>
            <td>
                @item.ReleaseDate
            </td>
            <td>
                @item.CategoryNumber
            </td>
            <td>
                @item.Edition
            </td>
            <td>
                @item.Genre
            </td>
           @*  <td>
                @item.DiscogReleaseId
            </td> *@
            <td>
                <a asp-action="AddToFolderView" asp-route-id="@item.ReleaseId">Add to folder</a>
              @*   <a asp-action="Details" asp-route-id="@item.ReleaseId">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.ReleaseId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems, page => Url.Action("Index", new { page }))
</table>
